<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Translation App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <div class="container">
    <h1>Document Translator</h1>
    <form id="translateForm">
      <textarea id="text" placeholder="Enter text to translate"></textarea>
      <select id="sourceLang">
        <option value="auto">Auto Detect</option>
        <option value="en">English</option>
        <option value="es">Spanish</option>
        <option value="fr">French</option>
        <option value="ar">Arabic</option>
        <ption value="de">German</option>
        <option value="ja">japanese</option>
      </select>
      <select id="targetLang">
        <option value="es">Spanish</option>
        <option value="en">English</option>
        <option value="fr">French</option>
        <option value="ar">Arabic</option>
        <option value="de">German</option>
        <option value="ja">japanese</option>
      </select>
      <button type="submit">Translate</button>
    </form>
    <h2>Translated Text:</h2>
    <p id="translatedText"></p>
  </div>

  <div class="file-upload">
    <label for="fileInput">
      <img src="{{ url_for('static', filename='button1.png') }}"
           alt="Upload" class="upload-image">
    </label>
    <input type="file" id="fileInput" accept=".txt,.docx,.pdf" style="display:none">
  </div>

  <section class="about">
    <h2>About Us</h2>
    <p>We are a multi-language web document translator application with the intention of helping people get 
      acess to documents from one lanaguage they arent familiar with to the one they are. Our goal started with the ideas
      to help people translatre research documents to closen the gap in multi-language research. Our goal in the future is to integrate a chatbot 
      that will help translating the documents but also clue in on the parts the user are havign questions about. This is an application that was made for 
      people who are students, professors, and the common person to use. </p>
  </section>

  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>

<!-- copy this into the browser to see what is going on via chnages: http://127.0.0.1:5000 
  you might run into problems becuase i had to download flask into my terminal to get this to work
  and I am using docker to run the server locally aka my computer. Getting this to work was a pain
-->
